body {
  margin: 0;
  font-family: 'Lato','Arial';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1{
  font-size: 240%;
  font-weight: 300;
}

h2{
  font-size: 180%;
  font-weight: 300;
}

h3,label{
  font-size: 90%;
  font-weight: 400;
}

.row{
  width: 1140px;
  margin: 0 auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



*{
  padding: 0;
  box-sizing: border-box;
margin: 0;

}